# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Others
*.log